
<div id="tab-1" class="custom-tab-pane"  style="display:block;">
  <{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

    {{ title_suffix.contextual_links }}

    {{ ds_content }}

  </{{ ds_content_wrapper }}>
</div>
